<header class="header" id="header">
  <nav class="nav container">
    <a href="#" class="nav__logo">
      <img
        src="./src/img/logo.png"
        alt="Logo image"
        width="500px"
        height="500px"
    /></a>

    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item"><a href="#hero" class="nav__link">Home</a></li>
        <li class="nav__item">
          <a href="#about-us" class="nav__link">About Us</a>
        </li>
        <li class="nav__item">
          <a href="#popular" class="nav__link">Popular</a>
        </li>
        <li class="nav__item">
          <a href="#recently" class="nav__link">Recently</a>
        </li>
      </ul>

      <div class="nav__close" id="nav-close">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
  </nav>
</header>
